/**
 * The styles in this CSS file provide a design
 * format for the portfolio website when it is
 * being viewed on a larger device such as an 
 * iPad or a desktop. Specialized styling for
 * the navbvar is also included. This helps the
 * navbar adapt to smaller screen sizes as the
 * viewport shrinks.
 *
 * Author: Andrew Krause
 * Date: 01/31/2022
 *
 */

/* Larger Mobile or Desktop View (For Navbar Padding) */
@media (min-width: 650px) {

    .navbar-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-heading {
        color: var(--light-font);
        font-size: 20px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 3.5px;
    }

    .nav-heading:hover {
        color: var(--bluer-color);
    }

    .menu {
        margin-top: 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        margin-right: 0;
    }

    .menu-link {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
        margin-left: 30px;
    }

    nav {
        top: 0;
        position: fixed;
    }

    #about {
        padding-top: 80px;
    }

    #projects {
        padding-top: 60px;
    }

    #contact {
        padding-top: 60px;
    }

    #resume {
        padding-top: 60px;
    }
}

/* Larger Mobile or Desktop View */
@media (min-width: 750px) {

    /* ====================================================================
                        NAVBAR Section (All Pages)
    ==================================================================== */

    .navbar-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-top: 10px;
    }

    .nav-heading {
        color: var(--light-font);
        font-size: 20px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 3.5px;
    }

    .nav-heading:hover {
        color: var(--bluer-color);
    }

    .nav-heading-text {
        color: var(--light-font);
        text-decoration: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: var(--black-color);
        padding: 8px 32px;
        border-bottom: 1px solid var(--gray-font);
        color: var(--light-font);
    }

    .menu {
        margin-top: 0px;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        margin-right: 0;
    }

    .menu-link {
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
        padding-bottom: 20px;
        border-bottom: 4px solid transparent;
    }

    .menu-link:hover {
        color: var(--whiter-color);
        border-bottom: 4px solid var(--whiter-color);
    }

    .is-active {
        color: var(--whiter-color);
        border-bottom: 4px solid var(--whiter-color);
    }

    .menu-about {
        margin-left: 0 !important;
    }

    /* ====================================================================
                            HOME/ABOUT Section (Page 1)
    ==================================================================== */
    
    #about {
        padding-top: 80px;
    }

    .slide-from-left {
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
    }
      
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .container {
        max-width: 700px;
        padding-top: 48px !important;
        padding-bottom: 48px !important;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .about-column {
        height: fit-content;
    }

    .about-heading {
        text-align: center;
        font-size: 50px; 
        margin-bottom: 1rem;
    }
    
    .pic-column {
        height: fit-content;
        width: fit-content;
        align-items: center;
        padding: 1rem;
    }

    .profile-pic {
        width: 15rem;
    }

    .header-icon {
        text-decoration: none;
    }

    b.about-content {
        display: block;
        margin-bottom: 1rem;
    }

    .about-content {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    ul {
        text-align: center !important;
        margin-bottom: 0;
        list-style-type: none;
        text-decoration: none;
    }

    ul li {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        margin: 0.25rem;
    }

    .fas {
        color: var(--whiter-color);
    }

    .fas:hover {
        color: var(--bluer-color);
    }

    .fab {
        color: var(--whiter-color);
    }

    .fas .mail {
        color: var(--black-color);
    }

    .fab:hover {
        color: var(--bluer-color);
    }

    .about-links {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me-link {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        color: var(--bluer-color);
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 1.5; 
    }

    .about-me-link:hover {
        text-decoration: underline;
    }

    /* ====================================================================
                            RESUME Section (Page 2)
    ==================================================================== */

    #resume {
        padding-top: 60px;
        color: var(--whiter-color);
        background-color: var(--black-color);
    }

    .resume-container {
        max-width: 700px;
        padding-top: 48px !important;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .resume-section-heading {
        text-align: center;
    }

    .resume-center {
        text-align: center;
    }

    .resume-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .resume-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .resume-top-content {
        text-align: center;
    }

    .resume-page-link {
        color: var(--whiter-color);
        text-decoration: none;
    }

    .resume-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .fas.black-file {
        color: var(--black-color);
    }

    .resume-courses {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .resume-file {
        /* font-family: 'Open Sans', sans-serif; */
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 200px;
        background-color: var(--bluer-color);
        text-decoration: none;
        color: var(--black-color);
        border-radius: 0.5em;
        border-style: none;
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .resume-file:hover {
        background-color: var(--whiter-color);
    }

    /* ====================================================================
                            SKILLS Section (Page 2)
    ==================================================================== */

    #skills {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .skills-container {
        max-width: 700px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .skills-section-heading {
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .skills-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .skills-content {
        text-align: center;
        margin-bottom: 1rem;
    }

    .skills-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-skill {
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .rounded-circle {
        background-color: var(--black-color);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        color: white;
        display: table-cell;
        vertical-align: middle; 
        text-align: center;
        text-decoration: none;
    }

    /* Icons in Skills Section */
    .fa-java {
        color: var(--whiter-color);
    }

    .fa-java:hover {
        color: var(--whiter-color);
    }

    .fa-python {
        color: var(--whiter-color);
    }

    .fa-python:hover {
        color: var(--whiter-color);
    }

    .fa-code {
        color: var(--whiter-color);
    }

    .fa-code:hover {
        color: var(--whiter-color);
    }

    .fa-code-branch {
        color: var(--whiter-color);
    }

    .fa-code-branch:hover {
        color: var(--whiter-color);
    }

    .fa-node-js {
        color: var(--whiter-color);
    }

    .fa-node-js:hover {
        color: var(--whiter-color);
    }

    .fa-bootstrap {
        color: var(--whiter-color);
    }

    .fa-bootstrap:hover {
        color: var(--whiter-color);
    }

    .icon-mongodb {
        color: var(--whiter-color);
    }

    .icon-mongodb:hover {
        color: var(--whiter-color);
    }

    .fa-database {
        color: var(--whiter-color);
    }

    .fa-database:hover {
        color: var(--whiter-color);
    }

    .icon-c {
        color: var(--whiter-color);
    }

    .icon-c:hover {
        color: var(--whiter-color);
    }

    /* Title and Text in Skills Section */
    .skill-title {
        height: fit-content;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        font-size: 24px; 
        vertical-align: 70%;
    }

    .specific-skill-text {
        margin-top: 0.5rem;
    }

    .skill-inline {
        display: inline-block;
    }

    /* ====================================================================
                        CERTIFICATIONS Section (Page 2)
    ==================================================================== */

    #certifications {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--dark-font);
    }

    .certifications-container {
        max-width: 700px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .certifications-section-heading {
        text-align: center;
    }

    .certifications-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    .certifications-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .certifications-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
        justify-content: flex-start;
    }

    .certification-card {
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .certificate-image-heading {
        white-space: nowrap;
    }

    .certificate-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .certification-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .certification-inline {
        display: inline-block;
    }

    .specific-certification-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-certification-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                    HONORS/AWARDS/VOLUNTEER Section (Page 2)
    ==================================================================== */

    #volunteer {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .volunteer-container {
        max-width: 700px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .volunteer-section-heading {
        text-align: center;
    }

    .volunteer-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--dark-font);
    }

    .volunteer-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--dark-font);
    }

    .volunteer-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-volunteering {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .volunteer-image-heading {
        white-space: nowrap;
    }

    .volunteer-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px;
        width: 60px;
        border-radius: 0;
        vertical-align: middle;
    }

    .volunteer-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .volunteer-inline {
        display: inline-block;
    }

    .specific-volunteer-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-volunteer-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                            TIMELINE Section (Page 2)
    ==================================================================== */

    #timeline {
        padding-top: 0rem;
        color: var(--light-font);
        background-color: var(--black-color);
    }

    .timeline-container {
        max-width: 700px;
        padding-bottom: 48px !important;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .timeline-section-heading {
        text-align: center;
    }

    .timeline-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--light-font);
    }

    .timeline-main-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--light-font);
    }

    .timeline-event-img {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0px;
        top: 15px;
        border-radius: 50%;
        z-index: 99;
    }

    .timeline-event-img-left {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 295px;
        top: 15px;
        border-radius: 50%;
        z-index: 90;
    }

    .timeline-event-img-right {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: -31px;
        top: 15px;
        border-radius: 50%;
        z-index: 90;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .timeline-main-container {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    /* The circles on the timeline */
    .timeline-main-container::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0px;
        background-color: white;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .timeline-left {
        left: 0;
        text-align: right;
    }
    
    /* Place the container to the right */
    .timeline-right {
        left: 50%;
        text-align: left;
    }
    
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: -31px;
    }

    /* Fix the circle for containers on the left side */
    .timeline-left::after {
        right: -29px;
    }
    
    /* The actual content */
    .timeline-content {
        position: relative;
        border-radius: 6px;
    }

    .timeline-year {
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 1.2;
    }

    .timeline-event {
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 1.2;
    }

    .timeline-event-heading {
        color: var(--bluer-color);
        text-decoration: none;
    }

    .timeline-event-heading:hover {
        color: var(--bluer-color);
        text-decoration: underline;
    }

    .timeline-event-linked-img:hover ~ .timeline-content a {
        color: var(--bluer-color);
        text-decoration: underline;
    }

    /* ====================================================================
                            PROJECTS Section (Page 3) 
    ==================================================================== */

    #projects {
        padding-top: 60px;
        color: var(--dark-font);
        background-color: var(--dark-font);
    }

    .projects-container {
        max-width: 500px;
        padding-top: 48px !important;
        padding-bottom: 48px !important;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .projects-section-heading {
        text-align: center;
    }

    .projects-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    .projects-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .projects-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: center;
    }
    
    .projects-card {
        position: relative;
        min-width: 400px;
        max-width: 400px;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        height: 401px;
        transition: all .2s ease-in-out;
    }

    .portfolio-item {
        text-decoration: none;
        color: var(--dark-font);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        transform: scale(0.93);
    }

    .projects-pic {
        opacity: 1;
        display: block;
        transition: .5s ease;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 295px;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .projects-pic-info {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left: 50%;
        height: 295px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .projects-pic-info-text {
        color: black;
    }

    /* UNCOMMENT THIS IF YOU WANT TO SEE THE "INFO" HOVER EFFECT */
    /* .projects-card:hover .projects-pic {  
        opacity: 0.1;
    }

    .projects-card:hover .projects-pic-info {  
        opacity: 1;
    } */

    .projects-card:hover {
        transform: scale(1.02);
    }

    .projects-card-container {
        padding: 15px;
        min-height: 106px;
        max-height: 106px;
        text-align: center;
        background-color: var(--bluer-color);
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .projects-title {
        white-space: normal;
        margin-left: 0;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .specific-projects-text {
        font-size: 18px;
        margin-top: 4px;
        font-style: italic;
    }

    /* Section for Modals */
    .modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .modal-dialog {
        padding-bottom: 40px;
        padding-top: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .modal-container {
        max-width: 600px;
        color: var(--dark-font);
    }

    .close-modal-position {
        float: right;
        width: 30px;
        height: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }

    .modal-close {
        color: var(--dark-font);
        position: absolute;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-x-icon {
        position: absolute;
        top: -10px;
        right: -40px;
        color: var(--bluer-color);
        background-color: var(--black-color);
        border-radius: 50%;
        font-size: 45px !important;
        transition-duration: 0.25s;
    }

    .fa-circle-xmark:hover {
        transform: scale(1.1);
    }

    .modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-heading {
        text-align: center;
        color: var(--dark-font);
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .modal-text {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .subheading-text-center {
        text-align: center;
    }

    .modal-text-center {
        text-align: center;
    }

    .modal-viewer-link {
        color: var(--dark-font);
        text-decoration: underline;
        text-decoration-color: var(--bluer-color);
    }

    .modal-viewer-link:hover b {
        font-weight: normal !important;
    }

    .bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .fa-times-bottom {
        color: var(--whiter-color);
    }

    .bottom-modal-button {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }

    /* Section for Descriptive Images in Modal */
    .modal-pic-card {
        background-color: var(--whiter-color);
        margin-top: 25px;
        margin-bottom: 25px;
        transition: all .2s ease-in-out;
    }

    .modal-info-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        border-radius: 0.625rem;
        vertical-align: middle;
        -moz-box-shadow: 0 0 20px #ccc;
        -webkit-box-shadow: 0 0 20px #ccc;
        box-shadow: 0 0 20px #ccc;
    }

    .modal-pic-container {
        padding-top: 5px;
        height: fit-content;
        width: fitcontent;
    }

    .modal-pic-text {
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
    }

    /* ====================================================================
                            CONTACT Section (Page 4)
    ==================================================================== */

    #contact {
        padding-top: 60px;
        color: var(--whiter-color);
        background-color: var(--black-color);
        height: 100%;
    }

    .contact-container {
        max-width: 700px;
        padding-top: 48px !important;
        padding-bottom: 48px !important;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .contact-section-heading {
        text-align: center;
    }

    .contact-text-center {
        text-align: center;
    }

    .contact-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .contact-content {
        text-align: center;
        margin-bottom: 1rem;
        margin-right: 10px;
        margin-left: 10px;
    }

    .contact-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        min-width: fit-content;
    }

    .contact-column {
        flex: 40%;
    }

    .contact-specific {
        margin-left: 30%;
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
        width: fit-content;
    }

    .contact-link {
        text-decoration: none;
        color: var(--whiter-color);
    }

    .contact-link:hover div p b {
        text-decoration: underline;
    }

    .contact-circle {
        background-color: var(--whiter-color);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        color: white;
        display: table-cell;
        vertical-align: middle; 
        text-align: center;
        text-decoration: none;
    }

    /* Icons in Skills Section */
    .fa-phone-alt {
        color: var(--black-color);
    }

    .fa-phone-alt:hover {
        color: var(--black-color);
    }

    .contact-envelope {
        color: var(--black-color);
    }

    .contact-envelope:hover {
        color: var(--black-color);
    }

    .contact-linkedin {
        color: var(--black-color);
    }

    .contact-linkedin:hover {
        color: var(--black-color);
    }

    .contact-github {
        color: var(--black-color);
    }

    .contact-github:hover {
        color: var(--black-color);
    }

    /* Title and Text in Contact Section */
    .contact-skill-text {
        height: fit-content;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        vertical-align: 70%;
        font-size: 20px;
    }

    .contact-skill-text:hover {
        text-decoration: underline;
    }

    .contact-inline {
        display: inline-block;
    }

    /* ====================================================================== 
                            MESSAGE Section (All pages)
    ====================================================================== */ 

    /* Section for Message Modals */
    .message-modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .message-bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .message-modal-dialog {
        padding-bottom: 30px;
        padding-top: 30px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .message-modal-container {
        max-width: 600px;
        color: var(--dark-font);
    }

    .message-close-modal-position {
        float: right;
        width: 30px;
        height: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }

    .message-modal-close {
        color: var(--dark-font);
        position: absolute;
        font-weight: bold;
        cursor: pointer;
    }

    .message-modal-x-icon {
        position: absolute;
        top: -10px;
        right: -40px;
        color: var(--bluer-color);
        background-color: var(--black-color);
        border-radius: 50%;
        font-size: 45px !important;
        transition-duration: 0.25s;
    }

    .fa-circle-xmark:hover {
        transform: scale(1.1);
    }

    .message-modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .message-modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .message-modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .message-modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .message-modal-heading {
        color: var(--dark-font);
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .message-modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .message-subheading-text-center {
        text-align: center;
    }

    input[type="email"] {
        font-family: 'Lora', serif;
        font-size: 22px;
        box-sizing: border-box;
        border: 2px solid var(--black-color);
        border-radius: .15em;
        transition: var(--main-transition);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }

    input[type="email"]:focus {
        border: 2px solid var(--bluer-color);
    }

    input[type="text"] {
        font-family: 'Lora', serif;
        font-size: 22px;
        box-sizing: border-box;
        border: 2px solid var(--black-color);
        border-radius: .15em;
        transition: var(--main-transition);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
    }
    
    input[type="text"]:focus {
        border: 2px solid var(--bluer-color);
    }

    .message-email-subject-input {
        font-family: 'Lora', serif;
        font-size: 22px;
        padding: 0.5em;
        margin: 1em 0;
        margin-bottom: 11px;
        margin-top: 11px;
        background-color: transparent;
        border: 2px solid var(--black-color);
        width: 100%;
        border-radius: .15em;
        font-family: sans-serif;
        font-size: 1.15rem;
    }
    
    .message-body-input {
        font-family: 'Lora', serif;
        font-size: 22px;
        padding: 0.5em;
        margin: 1em 0;
        margin-bottom: 11px;
        margin-top: 11px;
        background-color: transparent;
        border: 2px solid var(--black-color);
        width: 100%;
        border-radius: .15em;
        height: 250px; 
        resize: none;
    }

    .message-body-input:focus {
        outline: none !important;
        border: 2px solid var(--bluer-color);
    }

    .message-bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .message-bottom-modal-button {
        font-size: 18px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .message-bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }

    /* ====================================================================== 
                            CONFIRM Section (All pages)
    ====================================================================== */ 

    /* Section for Message Modals */
    .confirm-modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .confirm-bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .confirm-modal-dialog {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .confirm-modal-container {
        max-width: 500px;
        color: var(--dark-font);
    }

    .confirm-modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .confirm-modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .confirm-modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .confirm-modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .confirm-modal-heading {
        color: var(--dark-font);
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .confirm-modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .confirm-subheading-text-center {
        text-align: center;
    }

    .message-bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .confirm-bottom-modal-button {
        font-size: 18px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .confirm-bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }

    /* ====================================================================
                            FOOTER Section (All Pages)
    ==================================================================== */

    #footer {
        width: 100%;
        border-top: 1px solid var(--gray-font);
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        bottom: 0;
        margin-bottom: 0;
    }

    .footer-row {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .footer-icons {
        margin-bottom: 24px;
    }

    .footer-links-list {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-link {
        margin-right: 2px;
        margin-left: 2px;
        text-decoration: none;
        color: var(--bluer-color);
    }

    .footer-link:hover {
        text-decoration: underline;
    }

    .footer-file-icon {
        color: var(--bluer-color);
    }
}