/**
 * The file with CSS styles ensures that the 
 * website is presented in a clean and clear
 * format when being viewed on a extremely 
 * large devices such as larger computers,
 *  monitors, or smartboards.
 *
 * Author: Andrew Krause
 * Date: 01/31/2022
 *
 */

 /* Largest Desktop View */    
@media (min-width: 1300px) {

    /* ====================================================================
                            HOME/ABOUT Section (Page 1)
    ==================================================================== */
    
    .container {
        padding: 1.5rem;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .about-column {
        height: fit-content;
        flex: 60%;
    }
  
    .pic-column {
        display: block;
        /* margin-top: 0; */
        margin-top: auto;
        margin-bottom: auto;
        align-items: start;
        padding: 1rem;
        flex: 20%;
    }

    /* ====================================================================
                            RESUME Section (Page 2)
    ==================================================================== */

    #resume {
        padding-top: 60px;
        color: var(--whiter-color);
        background-color: var(--black-color);
    }

    .resume-container {
        max-width: 1100px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .resume-section-heading {
        text-align: center;
    }

    .resume-center {
        text-align: center;
    }

    .resume-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .resume-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .resume-top-content {
        text-align: center;
    }

    .resume-page-link {
        color: var(--bluer-color);
        text-decoration: none;
    }

    .resume-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: fit-content;
    }

    .fas.black-file {
        color: var(--black-color);
    }

    .resume-courses {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .resume-file {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 200px;
        background-color: var(--bluer-color);
        text-decoration: none;
        color: var(--black-color);
        border-radius: 0.5em;
        border-style: none;
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .resume-file:hover {
        background-color: var(--whiter-color);
    }

    /* ====================================================================
                            SKILLS Section (Page 2)
    ==================================================================== */
    
    #skills {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .skills-container {
        max-width: 1125px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .skills-section-heading {
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .skills-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .skills-content {
        text-align: center;
        margin-bottom: 1rem;
    }

    .skills-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        min-width: fit-content;
        justify-content: flex-start;
    }

    .specific-skill {
        flex-basis: 0 0 33.31%; /* KEEP AN EYE ON THIS!!! */
        max-width: 33.31%; /* KEEP AN EYE ON THIS!!! */
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .rounded-circle {
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        background-color: var(--black-color);
        border-radius: 50%;
        display: inline-block;
    }

    /* Icons in Skills Section */
    .fa-java {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-java:hover {
        color: var(--whiter-color);
    }

    .fa-python {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-python:hover {
        color: var(--whiter-color);
    }

    .fa-code {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-code:hover {
        color: var(--whiter-color);
    }

    .fa-code-branch {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-code-branch:hover {
        color: var(--whiter-color);
    }

    .fa-node-js {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-node-js:hover {
        color: var(--whiter-color);
    }

    .fa-bootstrap {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-bootstrap:hover {
        color: var(--whiter-color);
    }

    .icon-mongodb {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .icon-mongodb:hover {
        color: var(--whiter-color);
    }

    .fa-database {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-database:hover {
        color: var(--whiter-color);
    }

    .icon-c {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .icon-c:hover {
        color: var(--whiter-color);
    }

    /* Title and Text in Skills Section */
    .skill-title {
        height: fit-content;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        font-size: 24px; /* 1.5rem; */
        vertical-align: text-bottom;
    }

    .specific-skill-text {
        margin-top: 0.5rem;
    }

    .skill-inline {
        display: inline-block;
    }

    /* ====================================================================
                        CERTIFICATIONS Section (Page 2)
    ==================================================================== */

    #certifications {
      padding-top: 0rem;
      color: var(--dark-font);
      background-color: var(--dark-font);
    }

    .certifications-container {
        max-width: 1100px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .certifications-section-heading {
        text-align: center;
    }

    .certifications-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    .certifications-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .certifications-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        min-width: fit-content;
        justify-content: flex-start;
    }

    .certification-card {
        flex-basis: 46.19%;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .certificate-image-heading {
        white-space: nowrap;
    }

    .certificate-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        border-radius: 50%;
        vertical-align: middle;
    }

    .certification-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .certification-inline {
        display: inline-block;
    }

    .specific-certification-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-certification-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                    HONORS/AWARDS/VOLUNTEER Section (Page 2)
    ==================================================================== */

    #volunteer {
      padding-top: 0rem;
      color: var(--dark-font);
      background-color: var(--whiter-color);
    }

    .volunteer-container {
        max-width: 1100px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .volunteer-section-heading {
        text-align: center;
    }

    .volunteer-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--dark-font);
    }

    .volunteer-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--dark-font);
    }

    .volunteer-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        min-width: fit-content;
    }

    .specific-volunteering {
        flex-basis: 46.19%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .volunteer-image-heading {
        white-space: nowrap;
    }

    .volunteer-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        border-radius: 0;
        vertical-align: middle;
    }

    .volunteer-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .volunteer-inline {
        display: inline-block;
    }

    .specific-volunteer-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-volunteer-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                            TIMELINE Section (Page 2)
    ==================================================================== */

    #timeline {
      padding-top: 0rem;
      color: var(--light-font);
      background-color: var(--black-color);
    }

    .timeline-container {
        max-width: 900px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .timeline-section-heading {
        text-align: center;
    }

    .timeline-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--light-font);
    }

    .timeline-main-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--light-font);
    }

    .timeline-event-img {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0px;
        top: 15px;
        border-radius: 50%;
        z-index: 99;
    }

    .timeline-event-img-left {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: 395px;
        top: 15px;
        border-radius: 50%;
        z-index: 90;
    }

    .timeline-event-img-right {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        margin-left: -31px;
        top: 15px;
        border-radius: 50%;
        z-index: 90;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .timeline-main-container {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    /* The circles on the timeline */
    .timeline-main-container::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0px;
        background-color: white;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .timeline-left {
        left: 0;
        text-align: right;
    }
    
    /* Place the container to the right */
    .timeline-right {
        left: 50%;
        text-align: left;
    }
    
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: -31px;
    }

    /* Fix the circle for containers on the left side */
    .timeline-left::after {
        right: -29px;
    }
    
    /* The actual content */
    .timeline-content {
        position: relative;
        border-radius: 6px;
    }

    .timeline-year {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .timeline-event {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .timeline-event-heading {
        color: var(--bluer-color);
        text-decoration: none;
    }

    .timeline-event-heading:hover {
        color: var(--bluer-color);
        text-decoration: underline;
    }

    .timeline-event-linked-img:hover ~ .timeline-content a {
        color: var(--bluer-color);
        text-decoration: underline;
    }
}

/* Largest Desktop View for Projects Section */    
@media (min-width: 1500px) {

    /* ====================================================================
                          PROJECTS Section (Page 3)                             
    ==================================================================== */

    #projects {
      padding-top: 60px;
      color: var(--dark-font);
      background-color: var(--dark-font);
    }

    .projects-container {
        max-width: 1400px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .projects-section-heading {
        text-align: center;
    }

    .projects-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    .projects-content {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .projects-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .projects-card {
        position: relative;
        max-width: 400px;
        /* background-color: var(--bluer-color); */
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        height: 400px; 
        transition: all .2s ease-in-out;
    }

    .portfolio-item {
        text-decoration: none;
        color: var(--dark-font);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 25.3px;
        margin-right: 25.3px;
    }

    .projects-pic {
        opacity: 1;
        display: block;
        transition: .5s ease;
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 295px;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .projects-pic-info {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left: 50%;
        height: 295px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .projects-pic-info-text {
        color: black;
    }

    .projects-card:hover .projects-pic {  
        opacity: 0.1;
    }

    .projects-card:hover .projects-pic-info {  
        opacity: 1;
    }

    .projects-card:hover {
        transform: scale(1.02);
    }

    .projects-card-container {
        padding: 15px;
        min-height: 106px;
        max-height: 106px;
        text-align: center;
        background-color: var(--bluer-color);
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .projects-title {
        white-space: normal;
        margin-left: 0;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .specific-projects-text {
        font-size: 18px;
        margin-top: 4px;
        font-style: italic;
    }

    /* Section for Modals */
    .modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .modal-dialog {
        margin-top: auto;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .modal-container {
        max-width: 700px;
        color: var(--dark-font);
    }

    .close-modal-position {
        float: right;
        width: 30px;
        height: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }

    .modal-close {
        color: var(--dark-font);
        position: absolute;
        font-weight: bold;
        cursor: pointer;
    }

    .fa-times-top {
        color: var(--dark-font);
        text-shadow: 0 0 10px var(--bluer-color);
    }

    .fa-times-top:hover {
        color: var(--dark-font);
        text-shadow: 0px 0px 0px var(--bluer-color);
    }

    .modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-heading {
        text-align: center;
        color: var(--dark-font);
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .subheading-text-center {
        text-align: center;
    }

    .modal-text-center {
        text-align: center;
    }

    .modal-viewer-link {
        color: var(--dark-font);
    }

    .modal-viewer-link:hover {
        color: var(--bluer-color);
    }

    .bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .fa-times-bottom {
        color: var(--whiter-color);
    }

    .fa-times-bottom:hover {
        color: var(--whiter-color);
        text-shadow: 0px 0px 0px var(--bluer-color);
    }

    .bottom-modal-button {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .bottom-modal-button:hover {
        background-color: var(--bluer-color);
    }

    /* Section for Descriptive Images in Modal */
    .modal-pic-card {
        background-color: var(--whiter-color);
        margin-top: 25px;
        margin-bottom: 25px;
        transition: all .2s ease-in-out;
    }

    .modal-info-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        vertical-align: middle;
    }

    .modal-pic-container {
        padding-top: 5px;
        height: fit-content;
        width: fitcontent;
    }

    .modal-pic-text {
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
    }
}