/**
 * The CSS in this file provides universal styles
 * for the entire website. The primary purpose of
 * the file is to style the elements of the website
 * when being viewed on a smaller screen such as a 
 * mobile device.
 *
 * Author: Andrew Krause
 * Date: 01/31/2022
 *
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 /* ====================================================================
                    INITIAL/UNIVERSAL SETTINGS Section
 ==================================================================== */

/* Create the root of the CSS file to make dynamic variables. */
:root {
    /* --> Navbar colors */
    --navbar-bg-color: rgb(34, 33, 33);
    --navbar-text-color: rgb(169, 169, 169); 
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: black;

    /* --> Border colors */
    --lightgray-color: rgb(169, 169, 169);
    /* --hackergreen-color: rgb(20, 148, 20); */
    --no-border: none;
    --black-color: rgb(34, 33, 33);
    --whiter-color: white; /* rgb(237, 234, 234); */
    --white-color: white;
    --bluer-color: rgb(97, 181, 255);
    
    /* --> Background colors */
    --main-background: rgb(34, 33, 33);
    --secondary-background: white;
    
    /* --> Card styles */
    --card-black: rgb(34, 33, 33);
    --card-white: white;
    
    /* --> Font colors */
    --dark-font: rgb(34, 33, 33);
    --light-font: white; /* rgb(237, 234, 234); */
    --gray-font: rgb(80, 80, 80);
   
    /* --> Card shadows */
    --card-shadow: 5px 5px 1em gray;
    --card-shadow-hover: 5px 5px 2em gray;

    /* --> Hover effects */
    --hover-scale: scale(1.01);

    /* --> Nav and card spacing */
    --nav-spacing: 0.35em;
    --card-padding: clamp(1em, 1vw, 2em);

    /* --> Transitions */
    --main-transition: all 0.25s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the background color as well as some additional attributes of the website. */
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    line-height: 1.5; 
    margin: auto;
    background-color: var(--main-background);
    color: var(--light-font);
    font-family: 'Lora', serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

/* Set the font style for h1 tags. */
h1 {
    font-family: 'Lora', serif;
    font-size: 50px !important;
}

/* Set the font style for h1 tags on smaller screen */
/* sizes such as Samsung Galaxy screens. */
@media (max-width: 430px) {

    h1 {
        font-family: 'Lora', serif;
        font-size: 45px !important;
    }
}

/* Set the font style for h2 tags. */
h2 {
    font-family: 'Lora', serif;
    font-size: 50px;
}

/* Set the font style for h2 tags on smaller screen */
/* sizes such as Samsung Galaxy screens. */
@media (max-width: 430px) {

    h2 {
        font-family: 'Lora', serif;
        font-size: 45px;
    }
}

/* Set the font style for h3 tags. */
h3 {
    font-family: 'Lora', serif;
    font-size: 22px !important;
}

/* Set the font style for h4 tags. */
h4 {
    font-family: 'Lora', serif;
    font-size: 22px !important;
}

/* Set the font style for h5 tags. */
h5 {
    font-family: 'Lora', serif;
    font-size: 22px !important;
}

/* Set the font style for label tags. */
label {
    font-family: 'Lora', serif;
    font-size: 22px !important;
}

/* Set the font style for button tags. */
button {
    font-family: 'Lora', serif;
    font-size: 22px;
}

/* Set the font style for a tags. */
a {
    font-family: 'Lora', serif;
    font-size: 18px !important;
}

/* Set the font style for b tags. */
b {
    font-family: 'Lora', serif;
    /* font-size: 20px !important; */
}

/* Set the font style for p tags. */
p {
    font-family: 'Lora', serif;
    font-size: 18px;
}

/* =============================== */
/* LIST THE FONTS YOU CAN USE HERE */
/* =============================== */
/*
font-family: 'Bitter', serif;
font-family: 'Cardo', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Unna', serif;
font-family: 'Zilla Slab', serif;
*/
/* =============================== */

/* Ensure that the footer always sticks to the bottom of the screen. */
footer {
    margin-top: auto;
}

/* Make the scroll behavior of the website smoother. */
html {
    scroll-behavior: smooth;
}

/* Prevents scrolling in cases like when a modal is open. */
.overflowHidden {
    height: 100%;
    touch-action: none;
    -ms-touch-action: none;
    position: inherit;
    overflow: hidden;
}

/* Mobile View for Scrolling */
/* --> MAY CHANGE THIS LATER!!! */
@media (max-width: 500px) {

    /* The scrolling class is specialized here to work on mobile devices. */
    .overflowHidden {
        height: 100%;
        touch-action: none;
        -ms-touch-action: none;
        position: inherit;
        overflow: hidden;
    }
}

/* Mobile View */
@media (max-width: 750px) {

    /* ====================================================================
                        NAVBAR Section (All Pages)
    ==================================================================== */

    .navbar-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .nav-heading {
        color: var(--light-font);
        font-size: 20px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 3.5px;
    }

    .nav-heading-text {
        color: var(--light-font);
        text-decoration: none;
    }

    nav {
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: var(--black-color);
        padding: 8px 32px;
        border-bottom: 1px solid var(--gray-font);
        color: var(--light-font);
    }

    .menu {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .menu-link {
        /* font-family: 'Open Sans', sans-serif; */
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
    }
    
    /* CHANGE THE SLIDER CODE LATER AT SOME POINT (ASK DAD IF YOU FORGET WHAT HE MEANT) */
    .menu-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--whiter-color);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .is-active {
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
    }
    
    .is-active:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--whiter-color);
        visibility: visible;
        transform: scaleX(1);
    }

    .menu-about {
        margin-left: 0 !important;
    }

    /* ====================================================================
                            HOME/ABOUT Section (Page 1)
    ==================================================================== */
    
    #about {
        padding-top: 0rem;
        height: 100%; 
    }
    
    .slide-from-left {
        animation: slidein 0.5s;
        animation-fill-mode: forwards;
        transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    }
      
    @keyframes slidein {
        from {
            transform: translateX(-100%);
        }
        
        to {
            transform: translateX(0%);
        }
    }

    .container {
        padding: 1.5rem;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .about-column {
        height: fit-content;
    }

    .about-heading {
        font-size: 50px; 
        margin-bottom: 1rem;
    }

    @media (max-width: 430px) {

        .about-heading {
            font-size: 45px; 
            margin-bottom: 1rem;
        }
    }
    
    .pic-column {
        height: fit-content;
        width: fit-content;
        align-items: center;
        padding: 1rem;
    }

    .profile-pic {
        width: 15rem;
    }

    .header-icon {
        text-decoration: none;
    }

    b.about-content {
        display: block;
        margin-bottom: 1rem;
    }

    .about-content {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    ul {
        text-align: center !important;
        margin-bottom: 0;
        list-style-type: none;
        text-decoration: none;
    }

    ul li {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        margin: 0.25rem;
    }

    .fas {
        color: var(--whiter-color);
    }

    .fas:hover {
        color: var(--bluer-color);
    }

    .fab {
        color: var(--whiter-color);
    }

    .fas .mail {
        color: var(--black-color);
    }

    .fab:hover {
        color: var(--bluer-color);
    }

    .about-links {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .about-me-link {
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        color: var(--bluer-color);
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 1.5; 
    }

    .about-me-link:hover {
        text-decoration: underline;
    }

    /* ====================================================================
                            RESUME Section (Page 2)
    ==================================================================== */

    #resume {
        padding-top: 0rem;
        color: var(--whiter-color);
        background-color: var(--black-color);
    }

    .resume-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .resume-section-heading {
        text-align: center;
    }

    .resume-center {
        text-align: center;
    }

    .resume-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    @media (max-width: 430px) {

        .resume-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }

    .resume-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .resume-page-link {
        color: var(--whiter-color);
        text-decoration: none;
    }

    .resume-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .fas.black-file {
        color: var(--black-color);
    }

    .resume-courses {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .resume-file {
        /* font-family: 'Open Sans', sans-serif; */
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 200px;
        background-color: var(--bluer-color);
        text-decoration: none;
        color: var(--black-color);
        border-radius: 0.5em;
        border-style: none;
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .resume-file:hover {
        background-color: var(--whiter-color);
    }

    /* ====================================================================
                            SKILLS Section (Page 2)
    ==================================================================== */

    #skills {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .skills-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .skills-section-heading {
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .skills-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    @media (max-width: 430px) {

        .skills-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }

    .skills-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .skills-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-skill {
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .rounded-circle {
        background-color: var(--black-color);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        color: white;
        display: table-cell;
        vertical-align: middle; 
        text-align: center;
        text-decoration: none;
    }

    /* Icons in Skills Section */
    .fa-java {
        color: var(--whiter-color);
    }

    .fa-java:hover {
        color: var(--whiter-color);
    }

    .fa-python {
        color: var(--whiter-color);
    }

    .fa-python:hover {
        color: var(--whiter-color);
    }

    .fa-code {
        color: var(--whiter-color);
    }

    .fa-code:hover {
        color: var(--whiter-color);
    }

    .fa-code-branch {
        color: var(--whiter-color);
    }

    .fa-code-branch:hover {
        color: var(--whiter-color);
    }

    .fa-node-js {
        color: var(--whiter-color);
    }

    .fa-node-js:hover {
        color: var(--whiter-color);
    }

    .fa-bootstrap {
        color: var(--whiter-color);
    }

    .fa-bootstrap:hover {
        color: var(--whiter-color);
    }

    .icon-mongodb {
        color: var(--whiter-color);
    }

    .icon-mongodb:hover {
        color: var(--whiter-color);
    }

    .fa-database {
        color: var(--whiter-color);
    }

    .fa-database:hover {
        color: var(--whiter-color);
    }

    .icon-c {
        color: var(--whiter-color);
    }

    .icon-c:hover {
        color: var(--whiter-color);
    }

    /* Title and Text in Skills Section */
    .skill-title {
        height: fit-content;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        font-size: 24px;
        vertical-align: 70%;
    }

    .specific-skill-text {
        margin-top: 0.5rem;
    }

    .skill-inline {
        display: inline-block;
    }

    /* ====================================================================
                        CERTIFICATIONS Section (Page 2)
    ==================================================================== */

    #certifications {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--dark-font);
    }

    .certifications-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .certifications-section-heading {
        text-align: center;
    }

    .certifications-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    @media (max-width: 430px) {

        .certifications-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
            color: var(--whiter-color);
        }
    }

    .certifications-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .certifications-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: fit-content;
        justify-content: flex-start;
    }

    .certification-card {
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .certificate-image-heading {
        white-space: nowrap;
    }

    .certificate-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .certification-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px;
        vertical-align: middle;
    }

    .certification-inline {
        display: inline-block;
    }

    .specific-certification-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-certification-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                    HONORS/AWARDS/VOLUNTEER Section (Page 2)
    ==================================================================== */

    #volunteer {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .volunteer-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .volunteer-section-heading {
        text-align: center;
    }

    .volunteer-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--dark-font);
    }

    @media (max-width: 430px) {

        .volunteer-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
            color: var(--dark-font);
        }
    }

    .volunteer-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--dark-font);
    }

    .volunteer-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-volunteering {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .volunteer-image-heading {
        white-space: nowrap;
    }

    .volunteer-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px;
        width: 60px;
        border-radius: 0;
        vertical-align: middle;
    }

    .volunteer-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .volunteer-inline {
        display: inline-block;
    }

    .specific-volunteer-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-volunteer-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                            TIMELINE Section (Page 2)
    ==================================================================== */

    #timeline {
        padding-top: 0rem;
        color: var(--light-font);
        background-color: var(--black-color);
    }

    .timeline-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .timeline-section-heading {
        text-align: center;
    }

    .timeline-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--light-font);
    }

    @media (max-width: 430px) {

        .timeline-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
            color: var(--light-font);
        }
    }

    .timeline-main-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--light-font);
    }

    .timeline-event-img {
        background-color: white;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0px;
        top: 15px;
        border-radius: 50%;
        z-index: 99;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    
    /* Container around content */
    .timeline-main-container {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    /* The circles on the timeline */
    .timeline-main-container::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        right: -17px;
        background-color: white;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    /* Place the container to the left */
    .timeline-left {
        left: 0;
    }
    
    /* Place the container to the right */
    .timeline-right {
        left: 50%;
    }
    
    /* Fix the circle for containers on the right side */
    .timeline-right::after {
        left: -16px;
    }
    
    /* The actual content */
    .timeline-content {
        position: relative;
        border-radius: 6px;
    }

    .timeline-year {
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 1.2;
    }

    .timeline-event {
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 1.2;
    }

    .timeline-event-heading {
        color: var(--bluer-color);
        text-decoration: none;
    }

    .timeline-event-heading:hover {
        color: var(--bluer-color);
        text-decoration: underline;
    }

    .timeline-event-linked-img:hover ~ .timeline-content a {
        color: var(--bluer-color);
        text-decoration: underline;
    }

    /* THIS IS ONLY FOR SCREEN WIDTH 630px. */
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline-main-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
        padding-bottom: 40px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timelinecontainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .timeline-left::after, .timeline-right::after {
        left: 0px;
    }

    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
    }

    /* ====================================================================
                            PROJECTS Section (Page 3) 
    ==================================================================== */

    #projects {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--dark-font);
    }

    .projects-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .projects-section-heading {
        text-align: center;
    }

    .projects-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    @media (max-width: 430px) {

        .projects-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
            color: var(--whiter-color);
        }
    }

    .projects-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .projects-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
        justify-content: center;
    }

    .projects-card {
        position: relative;
        min-width: 400px;
        max-width: 400px;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        height: 400px;
        transition: all .2s ease-in-out;
    }

    @media (max-width: 450px) {

        .projects-card {
            position: relative;
            min-width: 365px;
            max-width: 365px;
            background-color: var(--whiter-color);
            border-radius: 0.5em;
            height: 400px;
            transition: all .2s ease-in-out;
        }
    }

    @media (max-width: 430px) {

        .projects-card {
            position: relative;
            min-width: 310px;
            max-width: 310px;
            background-color: var(--whiter-color);
            border-radius: 0.5em;
            height: 400px;
            transition: all .2s ease-in-out;
        }
    }

    .portfolio-item {
        text-decoration: none;
        color: var(--dark-font);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .projects-pic {
        opacity: 1;
        display: block;
        transition: .5s ease;
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: 295px;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .projects-pic-info {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left: 50%;
        height: 295px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .projects-pic-info-text {
        color: var(--black-color);;
    }

    /* UNCOMMENT THIS IF YOU WANT TO SEE THE "INFO" HOVER EFFECT */
    /* .projects-card:hover .projects-pic {  
        opacity: 0.1;
    }

    .projects-card:hover .projects-pic-info {  
        opacity: 1;
    } */

    .projects-card:hover {
        transform: scale(1.02);
    }

    .projects-card-container {
        padding: 15px;
        min-height: 106px;
        max-height: 106px;
        text-align: center;
        background-color: var(--bluer-color);
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }

    .projects-title {
        white-space: normal;
        margin-left: 0;
        height: fit-content;
        font-size: 24px; 
        vertical-align: middle; 
    }

    .specific-projects-text {
        font-size: 17px;
        margin-top: 4px;
        font-style: italic;
    }

    /* Section for Modals */
    .modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .modal-dialog {
        margin-top: auto;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .modal-container {
        max-width: 500px;
        color: var(--dark-font);
    }

    .close-modal-position {
        float: right;
        width: 30px;
        height: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }

    .modal-close {
        color: var(--dark-font);
        position: absolute;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-x-icon {
        position: absolute;
        top: -10px;
        right: -40px;
        color: var(--bluer-color);
        background-color: var(--black-color);
        border-radius: 50%;
        font-size: 45px !important;
        transition-duration: 0.25s;
    }

    .fa-circle-xmark:hover {
        transform: scale(1.1);
    }

    .modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .modal-heading {
        color: var(--dark-font);
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .subheading-text-center {
        text-align: center;
    }

    .modal-text-center {
        text-align: center;
    }

    .modal-viewer-link {
        color: var(--dark-font);
    }

    .modal-viewer-link:hover {
        color: var(--bluer-color);
    }

    .bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .fa-times-bottom {
        color: var(--whiter-color);
    }

    .fa-times-bottom:hover {
        color: var(--whiter-color);
        text-shadow: 0px 0px 0px var(--bluer-color);
    }

    .bottom-modal-button {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }

    /* Section for Descriptive Images in Modal */
    .modal-pic-card {
        background-color: var(--whiter-color);
        margin-top: 25px;
        margin-bottom: 25px;
        height: 358; 
        width: 510;
        transition: all .2s ease-in-out;
    }

    .modal-info-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        border-radius: 0.625rem;
        vertical-align: middle;
        -moz-box-shadow: 0 0 20px #ccc;
        -webkit-box-shadow: 0 0 20px #ccc;
        box-shadow: 0 0 20px #ccc;
    }

    .modal-pic-container {
        padding-top: 5px;
        height: fit-content;
        width: fitcontent;
    }

    .modal-pic-text {
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
    }

    /* ====================================================================
                            CONTACT Section (Page 4)
    ==================================================================== */

    #contact {
        padding-top: 0rem;
        color: var(--whiter-color);
        background-color: var(--black-color);
        height: 100%;
    }

    .contact-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--black-color);
    }

    .contact-section-heading {
        text-align: center;
    }

    .contact-text-center {
        text-align: center;
    }

    .contact-heading {
        margin-top: 1rem;
        font-size: 50px;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    @media (max-width: 430px) {

        .contact-heading {
            margin-top: 1rem;
            font-size: 45px;
            text-align: left;
            margin-bottom: 0.5rem;
        }
    }

    .contact-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .contact-row {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        min-width: fit-content;
    }

    .contact-specific {
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .contact-link {
        text-decoration: none;
        color: var(--whiter-color);
    }

    .contact-link:hover div p b {
        text-decoration: underline;
    }

    .contact-circle {
        background-color: var(--whiter-color);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        color: white;
        display: table-cell;
        vertical-align: middle; 
        text-align: center;
        text-decoration: none;
    }

    /* Icons in Skills Section */
    .fa-phone-alt {
        color: var(--black-color);
    }

    .fa-phone-alt:hover {
        color: var(--black-color);
    }

    .contact-envelope {
        color: var(--black-color);
    }

    .contact-envelope:hover {
        color: var(--black-color);
    }

    .contact-linkedin {
        color: var(--black-color);
    }

    .contact-linkedin:hover {
        color: var(--black-color);
    }

    .contact-github {
        color: var(--black-color);
    }

    .contact-github:hover {
        color: var(--black-color);
    }

    /* Title and Text in Contact Section */
    .contact-skill-text {
        height: fit-content;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        vertical-align: 70%;
        font-size: 20px;
    }

    .contact-skill-text:hover {
        text-decoration: underline;
    }

    .contact-inline {
        display: inline-block;
    }

    /* ====================================================================== 
                            MESSAGE Section (All pages)
    ====================================================================== */ 

    /* Section for Message Modals */
    .message-modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .message-bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .message-modal-dialog {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .message-modal-container {
        max-width: 500px;
        color: var(--dark-font);
    }

    .message-close-modal-position {
        float: right;
        width: 30px;
        height: 0px;
        margin-top: 2px;
        margin-right: 2px;
    }

    .message-modal-close {
        color: var(--dark-font);
        position: absolute;
        font-weight: bold;
        cursor: pointer;
    }

    .message-modal-x-icon {
        position: absolute;
        top: -10px;
        right: -40px;
        color: var(--bluer-color);
        background-color: var(--black-color);
        border-radius: 50%;
        font-size: 45px !important;
        transition-duration: 0.25s;
    }

    .fa-circle-xmark:hover {
        transform: scale(1.1);
    }

    .message-modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .message-modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .message-modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .message-modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .message-modal-heading {
        color: var(--dark-font);
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    @media (max-width: 430px) {

        .message-modal-heading {
            color: var(--dark-font);
            font-size: 45px;
            line-height: 1.2;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }

    .message-modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .message-subheading-text-center {
        text-align: center;
    }

    input[type="email"] {
        font-family: 'Lora', serif;
        font-size: 22px;
        border: 1px solid var(--black-color);
        border-radius: .15em;
        transition: var(--main-transition);
    }

    input[type="text"] {
        font-family: 'Lora', serif;
        font-size: 22px;
        border: 1px solid var(--black-color);
        border-radius: .15em;
        transition: var(--main-transition);
    }

    .message-email-subject-input {
        font-family: 'Lora', serif;
        font-size: 22px;
        padding: 0.5em;
        margin: 1em 0;
        margin-bottom: 11px;
        margin-top: 11px;
        background-color: transparent;
        border: 1px solid var(--black-color);
        width: 100%;
        border-radius: .15em;
        font-family: sans-serif;
        font-size: 1.15rem;
    }
    
    .message-body-input {
        font-family: 'Lora', serif;
        font-size: 22px;
        padding: 0.5em;
        margin: 1em 0;
        margin-bottom: 11px;
        margin-top: 11px;
        background-color: transparent;
        border: 1px solid var(--black-color);
        width: 100%;
        border-radius: .15em;
        height: 250px; 
        resize: none;
    }

    .message-bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .message-bottom-modal-button {
        font-size: 18px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .message-bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }

    /* ====================================================================== 
                            CONFIRM Section (All pages)
    ====================================================================== */ 

    /* Section for Message Modals */
    .confirm-modal-bg {
        position: fixed;
        z-index: 1050;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s;
    }

    .confirm-bg-active {
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    .confirm-modal-dialog {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .confirm-modal-container {
        max-width: 500px;
        color: var(--dark-font);
    }

    .confirm-modal-information {
        padding: 20px;
        margin: auto;
        background-color: var(--whiter-color);
        border-radius: 0.5em;
    }

    .confirm-modal-content {
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 100%;
    }

    .confirm-modal-row {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .confirm-modal-body {
        padding: 0; /* MAYBE ADD MORE LATER */
    }

    .confirm-modal-heading {
        color: var(--dark-font);
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    @media (max-width: 430px) {

        .confirm-modal-heading {
            color: var(--dark-font);
            font-size: 45px;
            line-height: 1.2;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }

    .confirm-modal-text {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    .confirm-subheading-text-center {
        text-align: center;
    }

    .message-bottom-button-container {
        width: fit-content;
        margin: auto;
    }   

    .confirm-bottom-modal-button {
        font-size: 18px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--black-color);
        color: var(--whiter-color);
        text-decoration: none;
        border-radius: 0.5em;
        border-style: none;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .confirm-bottom-button-container:hover * {
        color: var(--black-color);
        background-color: var(--bluer-color);
    }
    
    /* ====================================================================
                            FOOTER Section (All Pages)
    ==================================================================== */

    #footer {
        width: 100%;
        border-top: 1px solid var(--gray-font);
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
        bottom: 0;
        margin-bottom: 0;
    }

    .footer-row {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .footer-icons {
        margin-bottom: 24px;
    }

    .footer-links-list {
        text-align: center;
        margin-bottom: 24px;
    }

    .footer-link {
        margin-right: 2px;
        margin-left: 2px;
        text-decoration: none;
        color: var(--bluer-color);
    }

    .footer-link:hover {
        text-decoration: underline;
    }

    .footer-file-icon {
        color: var(--bluer-color);
    }
}
