/**
 * DESCRIPTION...
 *
 * Author: Andrew Krause
 * Date: CURRENT
 *
 */

 /** 
  * ADD A NAV BAR AT THE TOP WITH YOUR LOGO (MAYBE). 
  *
  * KEEP ANIMATIONS MINIMAL.
  * CERTAINLY INCLUDE A FEATURE LIKE THE DROPDOWN FEATURE YOU USED IN YOUR 
  * PARKFINDER WEB APPLICATION FOR VARIOUS PARTS OF THE PAGE.
  *
  * THREE MAIN SECTIONS: ABOUT/RESUME/QUALIFICATIONS, PROJECTS, AND CONTACT.
  *
  * ADD YOUR RESUME TO BE DOWNLOADED FROM THE ABOUT/RESUME/QUALIFICATIONS SECTION.
  * ALSO ADD LINKS TO YOUR MAIL, GITHUB, AND LINKEDIN. YOU ARE GOING TO WANT TO ADD
  * A SHARING FEATURE SO THAT USERS CAN SHARE YOUR SITE AS WELL!
  * 
  * PUT YOURSELF IN THE SHOES OF THE PEOPLE WHO WILL BE LOOKING AT THIS!
  * MAKE IT SIMPLE - DON'T MAKE THEM WORK TO FIGURE OUT MORE ABOUT YOU.
  * 
  * ANYTHING ELSE???
  */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 /* ====================================================================
                    INITIAL/UNIVERSAL SETTINGS Section
 ==================================================================== */

/* Create the root of the CSS file to make dynamic variables. */
:root {
    /* --> Navbar colors */
    --navbar-bg-color: rgb(34, 33, 33);
    --navbar-text-color: rgb(169, 169, 169); 
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: black;

    /* --> Border colors */
    --lightgray-color: rgb(169, 169, 169);
    /* --hackergreen-color: rgb(20, 148, 20); */
    --no-border: none;
    --black-color: rgb(34, 33, 33);
    --whiter-color: white; /* rgb(237, 234, 234); */
    --white-color: white;
    --bluer-color: rgb(97, 181, 255);
    
    /* --> Background colors */
    --main-background: rgb(34, 33, 33);
    --secondary-background: white;
    
    /* --> Card styles */
    --card-black: rgb(34, 33, 33);
    --card-white: white;
    
    /* --> Font colors */
    --dark-font: rgb(34, 33, 33);
    --light-font: white; /* rgb(237, 234, 234); */
    --gray-font: rgb(80, 80, 80);
   
    /* --> Card shadows */
    --card-shadow: 5px 5px 1em gray;
    --card-shadow-hover: 5px 5px 2em gray;

    /* --> Hover effects */
    --hover-scale: scale(1.01);

    /* --> Nav and card spacing */
    --nav-spacing: 0.35em;
    --card-padding: clamp(1em, 1vw, 2em);

    /* --> Transitions */
    --main-transition: all 0.25s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FOR NAVBAR??? */
/* body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
} */

/* REMEMBER TO LATER ADD A FEATURE THAT ENABLES YOU TO CHANGE THE COLOR SCHEME ON THE WEBSITE!!! */
/* ALSO, CONVERT EVERYTHING FROM PIXELS TO rem WHEN YOU GET THE CHANCE!!! --> MAYBE.. */

/* Set the background color of the website. */
body {
    /* --> MAY DELETE THIS LATER!!! height: 100vh; */ 
    /* --> MAY DELETE THIS LATER!!! line-height: 1.6; */ 
    margin: auto;
    background-color: var(--main-background);
    color: var(--light-font);
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

/* Make the scroll behavior of the website smoother. */
html {
    scroll-behavior: smooth;
}

/* Mobile View */
@media (max-width: 630px) {

    /* ====================================================================
                        NAVBAR Section (All Pages)
    ==================================================================== */

    .navbar-container {
        width: 100%;
        margin: 0 auto;
        /* display: flex;
        align-items: center;
        justify-content: space-between; */
    }

    .nav-heading {
        color: var(--light-font);
        font-size: 20px;
        display: inline-block;
        margin-top: 5px;
        margin-left: 3.5px;
    }

    .nav-heading-text {
        color: var(--light-font);
        text-decoration: none;
    }

    nav {
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: var(--black-color);
        padding: 8px 32px;
        border-bottom: 1px solid var(--gray-font);
        color: var(--light-font);
    }

    .menu {
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .menu-link {
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
    }
    
    /* CHANGE THE SLIDER CODE LATER AT SOME POINT (ASK DAD IF YOU FORGET WHAT HE MEANT) */
    .menu-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--whiter-color);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .is-active {
        font-weight: bold;
        text-decoration: none;
        color: var(--whiter-color);
        position: relative;
    }
    
    .is-active:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--whiter-color);
        visibility: visible;
        transform: scaleX(1);
    }

    .menu-about {
        margin-left: 0 !important;
    }

    /* ====================================================================
                             ABOUT Section (Page 1)
    ==================================================================== */
    
    #about {
        /* MAYBE DELETE LATER!!! */
        /* height: 200vh; */
        padding-top: 0rem;
    }
    
    .slide-from-left {
        animation: slidein 0.5s;
        animation-fill-mode: forwards;
        transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
    }
      
    @keyframes slidein {
        from {
            transform: translateX(-100%);
        }
        
        to {
            transform: translateX(0%);
        }
    }

    .container {
        padding: 1.5rem;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .about-column {
        height: fit-content;
    }
    
    .pic-column {
        height: fit-content;
        width: fit-content;
        align-items: center;
        padding: 1rem;
    }

    .profile-pic {
        width: 15rem;
        margin-bottom: 1rem;
    }

    .header-icon {
        text-decoration: none;
    }

    b.about-content {
        display: block;
        margin-bottom: 1rem;
    }

    .about-content {
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    ul {
        text-align: center !important;
        margin-bottom: 0;
        list-style-type: none;
        text-decoration: none;
    }

    ul li {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        margin: 0.25rem;
    }

    .last-link {
        margin-left: 0;
    }

    .fas {
        color: var(--whiter-color);
    }

    .fas:hover {
        color: var(--bluer-color);
    }

    .fab {
        color: var(--whiter-color);
    }

    .fas .mail {
        color: var(--black-color);
    }

    .fab:hover {
        color: var(--bluer-color);
    }

    .fas.black-file {
        color: var(--black-color);
    }

    .resume-courses {
        margin-top: 15px;
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .file {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        height: 60px; /* Should match line-height attribute */
        width: 130px;
        background-color: var(--bluer-color);
        text-decoration: none;
        color: var(--black-color);
        border-radius: 0.5em;
        border-style: none;
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 60px; /* Should match height attribute */
    }

    .file:hover {
        background-color: var(--whiter-color);
    }

    #footer {
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    /* ====================================================================
                            SKILLS Section (Page 1)
    ==================================================================== */

    #skills {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .skills-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .skills-section-heading {
        text-align: center;
    }

    .text-center {
        text-align: center;
    }

    .skills-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .skills-content {
        text-align: left;
        margin-bottom: 1rem;
    }

    .skills-row {
        display: flex;
        flex-wrap: wrap; /* COULD DELETE LATER */
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-skill {
        text-align: left; 
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .rounded-circle {
        margin-left: 0;
        /* margin-bottom: 16px; */
        margin-left: auto;
        margin-right: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        background-color: var(--black-color);
        border-radius: 50%;
        display: inline-block;
    }

    /* Icons in Skills Section */
    .fa-java {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-java:hover {
        color: var(--whiter-color);
    }

    .fa-python {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-python:hover {
        color: var(--whiter-color);
    }

    .fa-code {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-code:hover {
        color: var(--whiter-color);
    }

    .fa-code-branch {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-code-branch:hover {
        color: var(--whiter-color);
    }

    .fa-node-js {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-node-js:hover {
        color: var(--whiter-color);
    }

    .fa-bootstrap {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .fa-bootstrap:hover {
        color: var(--whiter-color);
    }

    .icon-mongodb {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .icon-mongodb:hover {
        color: var(--whiter-color);
    }

    .icon-c {
        margin-left: auto;
        margin-right: auto;
        color: var(--whiter-color);
    }

    .icon-c:hover {
        color: var(--whiter-color);
    }

    /* Title and Text in Skills Section */
    .skill-title {
        /* margin-top: auto;
        margin-bottom: auto; */
        height: fit-content;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        font-size: 24px; /* 1.5rem; */
        vertical-align: text-bottom;
    }

    .specific-skill-text {
        margin-top: 0.5rem;
    }

    .skill-inline {
        display: inline-block;
    }

    /* ====================================================================
                        CERTIFICATIONS Section (Page 1)
    ==================================================================== */

    #certifications {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--dark-font);
    }

    .certifications-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-font);
    }

    .certifications-section-heading {
        text-align: center;
    }

    .certifications-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--whiter-color);
    }

    .certifications-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--whiter-color);
    }

    .certifications-row {
        display: flex;
        flex-wrap: wrap; /* COULD DELETE LATER */
        flex-direction: column;
        min-width: fit-content;
    }

    .certification-card {
        background-color: var(--whiter-color);
        border-radius: 0.5em;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .certificate-image-heading {
        white-space: nowrap;
    }

    .certificate-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        border-radius: 50%;
        vertical-align: middle;
    }

    .certification-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; /* 1.5rem; */
        vertical-align: middle; /* 40% */
    }

    .certification-inline {
        display: inline-block;
    }

    .specific-certification-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-certification-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                    HONORS/AWARDS/VOLUNTEER Section (Page 1)
    ==================================================================== */

    #volunteer {
        padding-top: 0rem;
        color: var(--dark-font);
        background-color: var(--whiter-color);
    }

    .volunteer-container {
        max-width: 500px;
        padding: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--whiter-color);
    }

    .volunteer-section-heading {
        text-align: center;
    }

    .volunteer-heading {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 0.5rem;
        color: var(--dark-font);
    }

    .volunteer-content {
        text-align: left;
        margin-bottom: 1rem;
        color: var(--dark-font);
    }

    .volunteer-row {
        display: flex;
        flex-wrap: wrap; /* COULD DELETE LATER */
        flex-direction: column;
        min-width: fit-content;
    }

    .specific-volunteering {
        padding-bottom: 20px;
        padding-top: 20px;
        /* margin-top: 20px;
        margin-bottom: 20px; */
    }

    .volunteer-image-heading {
        white-space: nowrap;
    }

    .volunteer-pic {
        margin-left: 0;
        margin-right: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 60px; /* height: 120px; */
        width: 60px; /* width: 120px; */
        border-radius: 0;
        vertical-align: middle;
    }

    .volunteer-title {
        white-space: normal;
        display: inline-block;
        width: calc(100% - 75px);
        margin-left: 10px;
        height: fit-content;
        font-size: 24px; /* 1.5rem; */
        vertical-align: middle; /* 40% */
    }

    .volunteer-inline {
        display: inline-block;
    }

    .specific-volunteer-heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .specific-volunteer-text {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    /* ====================================================================
                            TIMELINE Section (Page 1)
    ==================================================================== */







    /* ====================================================================
                            PROJECTS Section (Page 2)
    ==================================================================== */





    /* ====================================================================
                            CONTACT Section (Page 3)
    ==================================================================== */





    /* ====================================================================
                            OTHER STYLES...
    ==================================================================== */
}

/* Larger Mobile or Desktop View */
@media (min-width: 630px) {
    
    
}
        
/* Desktop View */    
@media (min-width: 1000px){
    
    
}
      

 